<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="imgcontainer">
      <img src="/assets/ui/truescape-logo-dark.png" alt="Logo">
    </div>

    <div class="container input-container">
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        class="form-control"
        required
      >

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
      <p class="tips">username: demo, password: demo </p>
    </div>
  </form>
</div>
