.tips {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #0085ca;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

::ng-deep .tips .toast-header {
  background-color: #0085ca !important;
  color: white;
  border-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
}
