.tips {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #0085ca;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

::ng-deep .tips .toast-header {
  background-color: #0085ca !important;
  color: white;
  border-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
}

.modal-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal-container img {
  width: 100%;
}

.modal-container video {
  width: 100%;
  height: auto;
}
